/*------------------------------------*\
    #BARE-LIST
\*------------------------------------*/

/**
 * The bare-list object simply removes any indents and bullet points from lists.
 */

.#{$inuit-namespace}bare-list,
%#{$inuit-namespace}bare-list {
    margin:  0;
    padding: 0;
    list-style: none;
}
