/*------------------------------------*\
    #BARE-LIST
\*------------------------------------*/

/**
 * The bare-list object simply removes any indents and bullet points from lists.
 */

// Predefine the variables below in order to alter and enable specific features.
$inuit-bare-list-namespace: $inuit-namespace !default;

.#{$inuit-bare-list-namespace}bare-list,
%#{$inuit-bare-list-namespace}bare-list {
    margin:  0;
    padding: 0;
    list-style: none;
}
